<!-- nav bar ------------------------- -->

	<div id="nav" class="container">
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<div class="container-fluid">
				<a id="title" class="navbar-brand" href="#">TRADER JOCKS</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
					aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				{{#if isAuthenticated}}
					<div class="collapse navbar-collapse" id="navbarNav">
						<ul class="navbar-nav">
							<li class="nav-item">
								<button id="logoutBtn" class="nav-link active btn-outline-warning" aria-current="page"
									href="#">Log Out</button>
							</li>
							<li class="nav-item" style="display:none">
								<button id="loginBtn" class="nav-link active btn-outline-warning" aria-current="page"
									href="#">Login</button>
							</li>
							<li class="nav-item" style="display:none">
								<button id="signUpBtn" class="nav-link active btn-outline-warning" aria-current="page"
									href="#">Sign-Up</button>
							</li>
							<li class="nav-item">
								<button id="profileBtn" class="nav-link active btn-outline-warning" aria-current="page"
									href="#">Profile</button>
							</li>
							<li class="nav-item">
								<button id="addItemBtn" class="nav-link active btn-outline-warning" aria-current="page"
									href="#">Add Item</button>
							</li>
							
							
						</ul>
					</div>
				{{else}}
					<div class="collapse navbar-collapse" id="navbarNav">
						<ul class="navbar-nav">
							<li class="nav-item" style="display:none">
								<button id="logoutBtn" class="nav-link active btn-outline-warning" aria-current="page"
									href="#">Log Out</button>
							</li>
							<li class="nav-item">
								<button id="loginBtn" class="nav-link active btn-outline-warning" aria-current="page"
									href="#">Login</button>
							</li>
							<li class="nav-item">
								<button id="signUpBtn" class="nav-link active btn-outline-warning" aria-current="page"
									href="#">Sign-Up</button>
							</li>
							<li class="nav-item" style="display:none">
								<button id="profileBtn" class="nav-link active btn-outline-warning" aria-current="page"
									href="#">Profile</button>
							</li> 
							<li class="nav-item" style="display:none">
								<button id="addItemBtn" class="nav-link active btn-outline-warning" aria-current="page"
									href="#">Add Item</button>
							</li>
						</ul>
					</div>
				{{/if}}
				
				<div class="dropdown">
					<a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
						data-bs-toggle="dropdown" aria-expanded="false"></a>
					<div id="dropDown" class="dropdown-content" aria-labelledby="dropdownMenuLink">
						<a class="dropdown-item" href="#">NFL</a>
						<a class="dropdown-item" href="#">NBA</a>
						<a class="dropdown-item" href="#">WNBA</a>
						<a class="dropdown-item" href="#">MLB</a>
						<a class="dropdown-item" href="#">NHL</a>
						<a class="dropdown-item" href="#">BOXING</a>
					</div>
				</div>
		</nav>
	</div>