<div id="main" class="container flex">

	{{#userItems}}
	<div>
		<div id="itempic">
			<img src="{{this.image}}" alt="">
		</div>
		<div>
			<p> Item Name: {{this.playerName}}</p>
		</div>
		<div>
			<p> Description: {{this.description}}</p>
		</div>
		<div>
			<p>Price: ${{this.price}}</p>
		</div>
	</div>
	{{/userItems}}


	{{!-- <div id=item1>
		<div id="itempic">
			<img src="../images/M.Ali Singed Posted.webp" alt="">
		</div>
		<div id="itemname">
			<p> Item:
				1981 Ali Signed Poster
			</p>
		</div>
		<div id="AA">
			<p id="auto">Authenticated:NO Autographed:YES </p>
		</div>
		<div id="itemprice">
			<p id="price">Price:
				$1205
			</p>
		</div>
	</div>
	<div id=item1>
		<div id="itempic">
			<img
				src="../images/michael-jordan-autographed-original-fleer-rookie-card-art-upper-deck_ss2_p-11049441+u-uqavmuumbop9g4tels6+v-863ede9db3db407cbb48e248a7d17894.webp"
				alt="">
		</div>
		<div id="itemname">
			<p> Item:
				1988 MJ Rookie Card
			</p>
		</div>
		<div id="AA">
			<p id="auto">Authenticated:NO Autographed:YES </p>
		</div>
		<div id="itemprice">
			<p id="price">Price:
				$300,205
			</p>
		</div>
	</div>
	<div id=item1>
		<div id="itempic">
			<img src="../images/Signed Hockey Puck.webp" alt="">
		</div>
		<div id="itemname">
			<p> Item:
				1978 Devils Signed Puck
			</p>
		</div>
		<div id="AA">
			<p id="auto">Authenticated:NO Autographed:YES </p>
		</div>
		<div id="itemprice">
			<p id="price">Price:
				$205
			</p>
		</div>
	</div>
	<div id=item1>
		<div id="itempic">
			<!-- <img src="public/images/michael-jordan-autographed-original-fleer-rookie-card-art-upper-deck_ss2_p-11049441+u-uqavmuumbop9g4tels6+v-863ede9db3db407cbb48e248a7d17894.webp" alt=""> -->
			<img id="userimage1" src="" alt="">
			<!-- <img src="https://image.shutterstock.com/image-vector/ui-image-placeholder-wireframes-apps-260nw-1037719204.jpg" alt=""> -->

		</div>
		<div id="itemname">
			<p> Item:
				1988 MJ Rookie Card
			</p>
		</div>
		<div id="AA">
			<p id="auto">Authenticated:NO Autographed:YES </p>
		</div>
		<div id="itemprice">
			<p id="price">Price:
				$300,205
			</p>
		</div>
	</div> --}}
</div>