/* BACKGROUND IMG CSS */
.backgroundcustom {
  /* background-color:rgb(202, 202, 202); */
  background-image: url('../images/CSS-style/backgroundimage.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
.customheader {
  background-image: url('../images/CSS-style/header-image.jpg');
  background-size:cover;
  height: 150px;
}

.jumbohead {
  color: white;
  font-family: 'Big Shoulders Inline Display', sans-serif;
  font-size: 100px;
}


/* NAVBAR CSS */
#nav {
  border-style: solid; 
  border-width: 1px;
  border-color: black;
  height: 70px;
}

#navbarDarkDropdownMenuLink{
  margin-left:450px
}

.nav-item{
  margin-left: 5px;
}
#sellBtn,
#signUpBtn,
#myProfileBtn,
#loginBtn:hover{
  color: black;
  text-decoration: none;
  cursor: pointer;
}


#divTwo{
  border-style: solid;
  border-width: 1px;
  border-color: black;
  height: 325px;
}

#recommended{
  text-align: center;
  font-family: monospace;
  font-weight: bolder;
  border-style: none;
  border-width: 1px;
}

.input-group {
  margin-top: 150px;
  width: 50px;
}

#picturesDiv{
  border-style: solid;
  background-color: rgb(0, 0, 0);
  padding: 10px;
  border-width: 1px;
  border-color: black;
  border-radius: 25px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

h1{
  margin-left: 350px;
  padding-top: 10px;
}

/* CSS FOR MODALS */
.signUpModal,
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.signUpModal-content,
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}
#signUpTitle{
  margin-left: 65px;
  margin-bottom: 30px;
}

#loginTitle{
  margin-left: 65px;
  margin-bottom: 30px;
}
/* The Close Button */

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

#signUpCloseBtn:hover{
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#routeSignUpBtn:hover,
#routeSignUpBtn:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.intrest-buttons:hover,
.intrest-buttons:focus {
  color: greenyellow;
  text-decoration: none;
  cursor: pointer;
}






/*  CSS FOR Dropdown Button */

#dropdownMenuLink:hover,
#dropdownMenuLink:focus {
  background-color: #2980B9;
}

.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 16px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a  {
  color: black;
  padding: 16px 12px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}


/* CSS FOR "RECOMMENDED FOR YOU" IMAGES DIVS  */

#photo10,
#photo9,
#photo8,
#photo7,
#photo6,
#photo5,
#photo4,
#photo3,
#photo2,
#photo1{
  border-style: none;
  border-width: 1px;
  width: 250px;
  height: 250px;
  margin-top: 20px;
}

#item10,
#item9,
#item8,
#item7,
#item6,
#item5,
#item4,
#item3,
#item2,
#item1{
  max-width: 250px;
  max-height: 250px;
}

.itemprice{
  text-align: center;
  font-style: italic;
}

.itemname{
  text-align: center;
  font-style: italic; 
  font-size: 15px;
  margin-top: 5px;
}

.carousel {
  max-width: 80%;
  box-shadow: 1px 1px 20px rgb(0, 0, 0);

}

.carolitems {
 margin-left: 450px;
}

.itemblock {
  margin: 10px;
}
 
.footer {
  border-style: solid;
  border-width: 1px;
  width: 1320px;
  margin-left: 60px;
}

#emailSendBtn{
  margin-left: 100px;
  margin-top: 25px;
  width: 150px;
}

.carouselcustom {
  margin: 20px;

}

.footfont {
  color: white;
}

.item:hover {
  box-shadow: 1px 1px 40px 10px rgb(255, 255, 255);
}

.file-upload-container {
	width: 100%;
	height: 50px;
	overflow: hidden;
	background: #3F51B5;
	user-select: none;
	transition: all 150ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
	text-align: center;
	color: white;
	line-height: 50px;
	font-weight: 300;
	font-size: 20px;
}

.file-upload-container:hover {
	cursor: pointer;
	background: #3949AB;
}


#itemimage {
  max-width: 300px;
  margin: 10px;
  border-color: black;
  border-style: solid;
  border-width: 10px;
  border-radius: 5px;
  margin-bottom:0px ;
  
}

.profilep {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;

}

#itemtext {
  background-image: url('https://cdn.hovia.com/app/uploads/grey-ombre-product.jpg');
  max-width: 300px;
  margin: 10px;
  padding: 5px;
  margin-top: 0px;
  border-color: black;
  border-style: solid;

}

.customcontainer {
  display: flex ;
  flex-wrap: wrap;
}

#latestitemsh1 {
color: rgb(0, 0, 0);
font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#latestitemsheader {
  background-image: url('https://image.freepik.com/free-photo/watercolor-light-gray-gradient-background-texture-aquarelle-white-gray-ombre_145343-964.jpg');
  background-size: cover;
  margin: 0px;
}